.App {
  text-align: center;
  background-color: #000000;
  background-size: cover;
  -webkit-background-size: cover;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.components {
  padding-top: 40%;
}
.scroll {
  margin-top: 10%;
  /* margin-right: 40%; */
}
.App-header {
  height: 200px;

  flex-direction: row;

  font-size: calc(10px + 2vmin);
  color: rgb(255, 255, 255);
  justify-content: center;
  padding-left: 0px;
  /* margin-right: 20%; */
  width: 100%;
  margin-top: 0;
  padding-left: 20%;
}
.top {
  display: flex;
  flex-direction: row;
  width: 70%;
}
.contact-header {
  min-height: 100vh;

  flex-direction: row;

  font-size: calc(10px + 2vmin);
  color: rgb(255, 255, 255);
  justify-content: center;
  padding-left: 100px;
  width: 600px;
  margin-top: 50px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.navlink {
  color: rgb(255, 255, 255);
  font-weight: 520;
  font-size: 20px;
  font-family: helvetica;
  text-decoration: none;
  /* border: 2px solid white; */
  border-radius: 20px;
  transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  background-color: rgb(0, 0, 0);
  padding: 4px 30px;
  margin-right: 20px;
}
.navlink:hover {
  color: rgb(0, 0, 0);

  background-color: rgb(48, 192, 244);
  transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
}
.navlink:active {
  opacity: 100%;
  color: black;
  transform: scale(0.95, 0.95);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.koa {
  background-color: rgb(255, 255, 255);
  padding: 5px;
  width: 300px;
  height: auto;
  margin: 0 70px 200px 0;
}

.photo {
  display: flex;
  width: 100%;
  margin-left: 30%;
}
.order {
  width: 100%;
}
.home {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 1%;
  width: 100%;
}

.about {
  background-color: rgb(0, 0, 0);
  width: 400px;
  font-size: 25px;
  font-weight: 400;
  color: white;
  text-align: left;
  margin-left: 50%;
  margin-top: 60px;
}
.question {
  width: 400px;
  font-size: 25px;
  font-weight: 800;
  color: white;
  text-align: left;
  margin-left: 50%;
  margin-top: 40px;
}
.icons {
  color: white;
  width: 100vh;
  margin-right: 0%;
  margin-left: 0%;
  height: 400px;
}

@keyframes reactAnimate {
  0% {
    left: 200px;
    top: 0px;
  }
  50% {
    left: 200px;
    top: 400px;
  }
  100% {
    left: 200px;
    top: 0px;
  }
}

@keyframes jsAnimate {
  0% {
    left: 0px;
    top: 300px;
  }
  50% {
    left: 400px;
    top: 300px;
  }
  100% {
    left: 0px;
    top: 300px;
  }
}

@keyframes cssAnimate {
  0% {
    left: -50px;
    top: 100px;
  }
  50% {
    left: 350px;
    top: 450px;
  }
  100% {
    left: -50px;
    top: 100px;
  }
}

@keyframes htmlAnimate {
  0% {
    left: 300px;
    top: 100px;
  }
  50% {
    left: -50px;
    top: 450px;
  }
  100% {
    left: 300px;
    top: 100px;
  }
}

.reactIcon {
  width: 50px;
  height: 50px;
  position: relative;
  animation: reactAnimate 2.3s infinite;
}
.reactIcon:hover {
  color: blue;
}
.jsIcon:hover {
  color: yellow;
}

.cssIcon:hover {
  color: green;
}

.htmlIcon:hover {
  color: red;
}

.jsIcon {
  width: 50px;
  height: 50px;
  position: relative;
  animation: jsAnimate 2.6s infinite;
}

.cssIcon {
  width: 50px;
  height: 50px;
  position: relative;
  animation: cssAnimate 3s infinite;
}

.htmlIcon {
  width: 50px;
  height: 50px;
  position: relative;
  animation: htmlAnimate 2.1s infinite;
}

.career:hover {
  color: black;
  background-color: red;
}

.myName:hover {
  color: black;
  background-color: yellow;
}

.tech {
  color: white;
}

.skills {
  margin: -40px 20% 0% 0;
}

.front {
  color: white;
  text-decoration: underline;
  text-decoration-color: red;
  font-size: 35px;
  display: flex;
  margin-left: 10%;
  margin-bottom: 2%;
}

.front-skills {
  color: white;
  font-weight: 600;
  font-size: 30px;
}

.resume {
  color: rgb(0, 0, 0);
  font-weight: 520;
  font-size: 20px;
  font-family: helvetica;
  text-decoration: none;
  border-radius: 20px;
  transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  background-color: rgb(48, 192, 244);
  padding: 4px 30px;
  margin-right: 20px;
}
.resume:hover {
  color: rgb(0, 0, 0);

  background-color: rgb(255, 255, 255);
  transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
}
.resume:active {
  opacity: 100%;
  color: black;
  transform: scale(0.95, 0.95);
}

.linked {
  padding-left: 40px;
  /* size: 20px; */
}

.projectText {
  color: white;
  text-decoration: none;
}

.list-projects {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.ninety {
  width: 300px;
  height: 400px;
  text-decoration: none;
}
.ninety:hover {
  border-style: solid;
  border-color: white;
  text-decoration: none;
}

.projectTitle {
  color: white;
  margin-bottom: 60px;
  text-decoration: none;
}

@media (max-width: 500px) {
  .navlink {
    color: white;
    /* padding: 4px 10px; */
    /* margin-right: 20px; */
    font-size: 13px;
    font-weight: 800;
  }
  .navbar {
    justify-content: space-evenly;
  }
  .sidebar {
    display: flex;
    margin-top: 40px;
    justify-content: center;
    /* width: 80px;
    height: 80px; */
  }
  .home {
    flex-direction: column;
    justify-content: flex-start;
    max-width: 500px;
  }
  .App-header {
    width: 500px;
    min-height: 50px;
    margin: 0;
    margin-bottom: 0px;
    padding-left: 0;
    padding-bottom: 0;
  }
  .icons {
    /* margin-right: 0; */
    padding: 0;
    display: flex;
    flex-direction: flex-start;
    margin: 0;
    width: 300px;
  }
  .App {
    height: 0;
  }
  .about {
    font-size: 15px;
    display: flex;
    justify-content: center;
  }
  .home {
    justify-content: center;
  }
  .description {
    justify-content: center;
    padding-right: 70%;
    padding-bottom: 10%;
  }
  .question {
    justify-content: center;
  }
  .koa {
    margin-right: 30px;
    margin-bottom: 10%;
  }
  .photo {
    padding-left: 20%;
    margin-right: 0;
    margin-left: 0;
    width: 500px;
  }
  .skills {
    width: 300px;
    padding-left: 20%;
  }
  .contact-header {
    width: 400px;
    padding-left: 10%;
    margin-top: 5%;
  }
  .scroll {
    margin-top: 50px;
  }
  .top {
    flex-direction: column;
  }
  @keyframes reactAnimate {
    0% {
      left: 200px;
      top: 100px;
    }
    50% {
      left: 200px;
      top: 300px;
    }
    100% {
      left: 200px;
      top: 100px;
    }
  }

  @keyframes jsAnimate {
    0% {
      left: 0px;
      top: 200px;
    }
    50% {
      left: 300px;
      top: 200px;
    }
    100% {
      left: 0px;
      top: 200px;
    }
  }

  @keyframes cssAnimate {
    0% {
      left: -50px;
      top: 100px;
    }
    50% {
      left: 300px;
      top: 200px;
    }
    100% {
      left: -50px;
      top: 100px;
    }
  }

  @keyframes htmlAnimate {
    0% {
      left: 200px;
      top: 100px;
    }
    50% {
      left: -50px;
      top: 200px;
    }
    100% {
      left: 200px;
      top: 100px;
    }
  }
}
